html { 
  /*background: url("bg2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-color: #efefef;
  overflow-x: hidden;
}
body {
	/*font-family: 'Indie Flower', cursive;*/
	color:#262626;
    background-color: #ffffff;
    overflow-x: hidden;
    text-align: center;
    border-left: 20px solid #ffffff;
    border-right: 20px solid #ffffff;
    border-top: 20px solid #ffffff;
    position: relative;
}
#footer {
    width: 100%;
    /*background-color: #02395b;*/
    color: #262626;
    margin-bottom: 0px;

}
.hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #262626;
    width: 60%; 
}
.header-style{
    margin-top: 0px;
    color: #ffffff;
    background-color: #02395b;
    padding-top: 10px;
    padding-bottom: 10px;
}
.airplane{
    position: absolute;
    top: 100px;
    height: 30px;
    /*left:-250px;*/
    -webkit-animation: left_right 10s infinite;
    animation: left_right 10s infinite;
/*    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;*/
    -webkit-animation-timing-function: linear;
    animation-timing-function:  linear;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    z-index: 10;
}
.row4 {
    background-color: #ffffff;
    text-align: center;
    color:#262626;
    padding-top: 10px;
    margin-bottom: 10px;
}
.row4 p{
    padding-top: 20px;
    font-size: 18px;
    text-align: left;
}
.row5 {
    background-color: #ffffff;
    text-align: center;
    color:#262626;
    padding-top: 10px;
    margin-bottom: 10px;
}
.row5 img{
    width: 100%;
}


.row2 {
    background-color: #ffffff;
    text-align: center;
    color:#262626;
    padding-top: 10px;
}
.row2 p{
    font-size: 18px;
    padding-top: 30px;
    text-align: left;
}
.row2 img{
    background-color: rgb(89,35,100);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.row3 {
    background-color: #ffffff;
    color:#262626;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}
.coupzImg{
    background-color: #00598e;
    padding:10px;
    padding-top: 20px;
}
.row3 img{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.row3 p{
    font-size: 18px;
    padding-top: 30px;
    text-align: left;
}
.wire-btn{
    background-color: rgba(0,0,0,0);
    color:#2b96c1;
    border:1px solid #2b96c1;
    margin: 10px;
}
.wire-btn:hover{
    background-color: #2b96c1;
    color:#ffffff;
}
.mountains {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: -40px;
}

.wave1 {
    position: relative;
    width: 120%;
    height: 100px;
    -webkit-animation: moving_left_right 5s infinite;
    animation: moving_left_right 5s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function:  ease-in-out;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.wave2 {
    position: relative;
    /*left: -10px;*/
    /*bottom:50px;*/
    margin-top: -55px;
    width: 120%;
    height: 100px;
    -webkit-animation: moving_left_right 5s infinite;
    animation: moving_left_right 5s infinite;
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function:  ease-in-out;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;

}
#center_text {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 80%;
	font-size: 20px;
    font-size: 2.5vw;
    background-color: red;
}
#center_text p{
	text-align: left;
}
#icon_bar {
	display: block;
	text-align: center;
}
#icon_bar a{
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 20px;
}
#left_link {
	position: relative;
	width:100%;
	height: 100%;
	-webkit-animation: moving_up_down 2s infinite;
    animation: moving_up_down 2s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function:  linear;
}
#center_link {
	position: relative;
	width:100%;
	height: 100%;
	-webkit-animation: moving_up_down 2s infinite;
    animation: moving_up_down 2s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function:  linear;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
#right_link {
	position: relative;
	width:100%;
	height: 100%;
	-webkit-animation: moving_up_down 2s infinite;
    animation: moving_up_down 2s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function:  linear;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
@keyframes moving_left_right {
    0% {right:0px;}
    100% {right:50px;}
}

@-webkit-keyframes moving_left_right {
    0% {right:0px;}
    100% {right:50px;}
}

@keyframes left_right {
    0% {left:-40%;}
    100% {left:100%;}
}

@-webkit-keyframes left_right {
    0% {left:-40%;}
    100% {left:100%;}
}

@keyframes moving_clockwise {
    0% {top:0px;left:5px;}
    25% {top:5px;left:10px;}
    50% {top:10px;left:5px;}
    75% {top:5px;left:0px;}
    100% {top:0px;left:5px;}
}
@-webkit-keyframes moving_clockwise {
    0% {top:0px;left:5px;}
    25% {top:5px;left:10px;}
    50% {top:10px;left:5px;}
    75% {top:5px;left:0px;}
    100% {top:0px;left:5px;}
}
@keyframes moving_counter_clockwise {
    0% {top:0px;right:5px;}
    25% {top:5px;right:10px;}
    50% {top:10px;right:5px;}
    75% {top:5px;right:0px;}
    100% {top:0px;right:5px;}
}
@-webkit-keyframes moving_counter_clockwise {
    0% {top:0px;right:5px;}
    25% {top:5px;right:10px;}
    50% {top:10px;right:5px;}
    75% {top:5px;right:0px;}
    100% {top:0px;right:5px;}
}